doctype html
html(lang="en")
    head
        link(rel="stylesheet" href="main.css")
    body
        header
            nav.navigation
                ul
                    li.list-item
                        a.list-item__link(href="#portfolio") Portfolio
                    li.list-item
                        a.list-item__link(href="#aboutMe") About Me
                    li.list-item
                        a.list-item__link(href="#contactMe") Let's work together
        section#mainSection.presentation 
            h1.presentation__title Hi! <br>I'm Maria Paulina 
                span UI Designer
        section#portfolio.portfolio
            .wrapper
                h2.portfolio__title Portfolio
                article.portfolio__article 
                    h3 WOBI Catalog
                    h6  Project for World of Business Ideas
                    p   This Catalog was created for Innovation, entrepreunership, and creative fields.
                        a.portfolio__link(href="#") See Project
                article.portfolio__article 
                    h3 TODO List
                    h6 Rect TODO List
                    p   This project was created during Bootcamp Female Edition at Globant
                        a.portfolio__link(href="#") See Project
        section#aboutMe.about-me
                h2 About Me
                article
                    figure
                        img(src="", alt="Image description")
                    h3 Description
                    p   This is a description Tag
        section#contactMe.contact-me
                form(action="/suscription")
                    h2 Let's create something together
                    input(type="text" placeholder="Drop a line" id="email")
                    button Send
        footer#footer