doctype html
html(lang="en")
    head
        link(rel="stylesheet" href="main.css")
    body
        header
            nav.navigation
                ul
                    li.list-item
                        a.list-item__link Portfolio
                    li.list-item
                        a.list-item__link About Me
                    li.list-item
                        a.list-item__link Let's work together
        section#mainSection.presentation 
            h1 Hi! I'm Maria Paulina 
                span UI Designer
        section#portfolio.portfolio
            h2 Porfolio
            article 
                h3 Project 1
                h6 Text Description
                p
                    a(href="#") See Project
            article 
                h3 Project 2
                h6 Text Description
                p
                    a(href="#") See Project
        section#aboutMe.about-me
                h2 About Me
                article
                    figure
                        img(src="", alt="Image description")
                    h3 Description
                    p   This is a description Tag
        section#contactMe.contact-me
                form(action="/suscription")
                    h2 Let's create something together
                    input(type="text" placeholder="Drop a line" id="email")
                    button Send
        footer#footer